## 1주차 미션 Q4.

In [ ]:
age = int(input("한국나이: "))
birth = int(input("생일이 지났습니까? 맞으면 0 아니면 -1 : "))
age = age + birth -1
print('미국나이:', age)

한국나이: 23
생일이 지났습니까? 맞으면 0 아니면 -1 : 0
미국나이: 22

## 2주차 미션

2주차 미션 Q1.

In [ ]:
def rsp(my):
  import random
  computer = random.randint(0,2)
  if my == '0':
     my = '가위'
  elif my == '1':
    my = '바위'
  elif my == '2':
    my = '보'

  if computer == 0:
    computer = '가위'
  elif computer == 1:
    computer = '바위'
  elif computer == 2:
    computer = '보'
  
  if my == computer:
    result = '비김'
  
  if (my == '가위' and computer == '보') or (my == '바위' and computer == '가위') or (my == '보' and computer == '바위'):
    result = '나 승리!'
  if (my == '보' and computer == '가위') or (my == '가위' and computer == '바위') or (my == '바위' and computer == '보'):
    result = '컴퓨터 승리!'
      
  print('나 :', my)
  print('컴퓨터 :', computer)
  print(result)
  
my = input('가위(0), 바위(1), 보(2) 중에 하나를 선택하세요: ')
rsp(my)

가위(0), 바위(1), 보(2) 중에 하나를 선택하세요: 보
나 : 보
컴퓨터 : 바위
나 승리!

2주차 미션 Q2.

In [ ]:
def yearly_payment(monthly_payment):
   
   try:
     before = monthly_payment * 12

     if before <= 1200:
       after = before * 0.94
     elif before <= 4600:
       after = before * 0.85
     elif before <= 8800:
       after = before * 0.76
     elif before <= 15000:
       after = before * 0.65
     elif before <= 30000:
       after = before * 0.62
     elif before <= 50000:
       after = before * 0.60
     else:
       after = before * 0.58
  
     print('세전 연봉:', before, '만원')
     print('세후 연봉:', after, '만원')
  
   except: 
     print('잘못된 입력입니다.')

monthly_payment = int(input('월급을 입력하세요(예:300만원이면 300) : '))
yearly_payment(monthly_payment)

월급을 입력하세요(예:300만원이면 300) : 400
세전 연봉: 4800 만원
세후 연봉: 3648.0 만원

2주차 미션 Q3.

In [ ]:
def grader(name, score):
  
  if score >= 95:
    grade = 'A+'
  elif score >= 90:
    grade = 'A'
  elif score >= 85:
    grade = 'B+'
  elif score >= 80:
    grade = 'B'
  elif score >= 75:
    grade = 'C+'
  elif score >= 70:
    grade = 'C'
  elif score >= 65:
    grade = 'D+'
  elif score >= 60:
    grade = 'D'
  elif score < 60:
    grade = 'F'
  
  print('학생이름 :', name)
  print('점수 :', score, '점')
  print('학점 :', grade)

name = input('이름을 입력하세요 : ')
score = int(input('점수를 입력하세요 : '))
grader(name, score)

이름을 입력하세요 : 유현수
점수를 입력하세요 : 80
학생이름 ; 유현수
점수 : 80 점
학점 : B

2주차 미션 Q4.

In [ ]:
def bus_fair(age, type):

  if age < 8 or age >= 75:
    fair = '무료'
  elif age < 14:
    fair = '450원'
  elif age < 20:
    if type == '카드':
      fair = '720원'
    elif type == '현금':
      fair = '1000원'
  elif age >= 20:
    if type == '카드':
      fair = '1200원'
    elif type == '현금':
      fair = '1300원'

  print('나이 :', age)
  print('지불유형 :', type)
  print('버스요금 :', fair)

age = int(input('나이를 입력하세요 : '))
type = input('지불유형을 선택하세요(카드 또는 현금) : ')
bus_fair(age, type)

나이를 입력하세요 : 20
지불유형을 선택하세요(카드 또는 현금) : 현금
나이 : 20
지불유형 : 현금
버스요금 : 1300원

## 3주차 미션

3주차 미션 Q1.

In [ ]:
def gugudan(number):
  print(number, '단')
  
  a = 1
  while True:
    result = number * a
    if result > 50:
      break
    print(number, 'X', a, '=', result)
    a = a + 2

number = int(input("몇 단?: "))
gugudan(number)

몇 단?: 7
7 단
7 X 1 = 7
7 X 3 = 21
7 X 5 = 35
7 X 7 = 49

3주차 미션 Q3.

In [ ]:
def find_even_number(n, m):
  numbers = [i for i in range(n,m+1)]
  for number in numbers:
    if number % 2 == 1:
      continue
    print(number, '짝수')

n = int(input("첫 번째 수 입력 : "))
m = int(input("두 번째 수 입력 : "))
find_even_number(n, m)

3주차 미션 Q4.

In [ ]:
def count_prime_number(n, m):
  numbers = [i for i in range(n,m+1)]
  for number in numbers:
    

n = int(input("첫 번째 수 입력 : "))
m = int(input("두 번째 수 입력 : "))
count_prime_number(n, m)

## 4주차 미션

4주차 미션 Q4.

In [ ]:
a = "500629-23422222"
a[7]

'2'

In [ ]:
def check_id(a):
  year = a[0:2]
  month = a[2:4]
  sex = a[7]

  if sex == '1' or '3':
    sex = '남자'
  elif sex == '2' or '4':
    sex = '여자'

  if 0<= int(year) <= 21:
    check = input('2000년 이후 출생자 입니까? 맞으면 o 아니면 x : ')
    if check == 'o' and (sex == '1' or '2'):
      return('잘못된 번호입니다.')
    else:
      pass
  print(year + '년', month + '월', sex)

In [ ]:
a = "500629-2222222"
check_id(a)

50년 06월 남자

In [ ]:
a = "000629-2222222"
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x : o

'잘못된 번호입니다.'

In [ ]:
a = "000629-4222222"
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x : o

'잘못된 번호입니다.'

## 5주차 미션

In [ ]:
def bs31():
    print("베스킨라빈스 써리원 게임")
    print("------------------")
    import random
    number = 0
    while True:
        my = input("My turn - 숫자를 입력하세요: ")
        my = my.split()
        if int(my[0]) != number + 1 or len(my) > 3:
            print("숫자를 제대로 입력하세요")
            continue
        if len(my) == 2:
            if int(my[1]) - int(my[0]) != 1:
                print("연속된 숫자만 입력하세요")
                continue
        if len(my) == 3:
            if int(my[2]) - int(my[1]) != 1 or int(my[1]) - int(my[0]) != 1:
                print("연속된 숫자만 입력하세요")
                continue

        
        number = int(my[-1])
        print(f"현재 숫자 : {number}")
        
        if number >= 31:
            print("패배")
            break
        
        computer = []
        computer_turn_num = random.randint(1,3)
        for i in range(computer_turn_num):
            number += 1
            if number > 31:
                number = number - 1
                continue
            computer.append(number)
            print(f"컴퓨터 : {computer[-1]}")
        print(f"현재 숫자 : {number}")
        print()
        if 31 in computer:
            print("승리!")
            break
    print("게임 종료")
bs31()

베스킨라빈스 써리원 게임
------------------
현재 숫자 : 3
컴퓨터 : 4
컴퓨터 : 5
컴퓨터 : 6
현재 숫자 : 6